<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Registros</title>
  </head>
  <body>
    <div class="relative overflow-x-auto">
      <button id="btnRegistro" type="button">Listar</button>

      <table
        class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
      >
        <thead
          class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
        ></thead>
        <tbody id="registros">
          <tr>
            <td scope="col" class="px-6 py-3">Email</td>
            <td scope="col" class="px-6 py-3">Pasword</td>
            <td scope="col" class="px-6 py-3"></td>
            <td scope="col" class="px-6 py-3"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="module" src="/js/script.js"></script>
  </body>
</html>
